# shellcheck disable=SC2148
# shellcheck disable=SC2034

# Telegram bot for the agent interaction
AGENT_QUORUM_TELEGRAM_BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
# Private chat with your Telegram ID
AGENT_QUORUM_TELEGRAM_CHAT_ID=YOUR_TELEGRAM_ID
